<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GeneralSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GeneralSDKDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3061A6441A0B5B6C0058A4FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3061A65D1A0B5B6C0058A4FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3061A6721A0B5B920058A4FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3061A67C1A0B5B920058A4FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
